.view-container {
    min-height: 100vh;
}
html, body {
    margin:0;
    padding:0;
    width:100%;
    overflow-x: hidden;
}
.small-margin-top {
    margin-top: 10px;
}
.small-margin-bottom {
    margin-bottom: 10px;
}
.big-margin-top {
    margin-top: 25px;
}
.big-margin-bottom {
    margin-bottom: 25px;
}