.nav {
  background-color: #3B4143;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 996;
}
.md-toolbar-tools {
  padding: 10px 12px;
  height: 56px !important;
}
@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape){
  .md-toolbar-tools {
    height: 56px;
    max-height: 56px;
  }
}
.md-sidenav-backdrop {
  z-index: 998 !important;
}
.title {
  margin: 0 25%;
  color: white;
  font-size: 2.5rem;
  position: fixed;
  z-index: 997;
  width: 50%;
  top: 11px;
  left: 0;
  right: 0;
  text-align: center;
  span {
    position: relative;
    top: 3px;
  }
}
.toggle-left {
  float: left;
  color: white;
}
.toggle-right {
  float: right;
  color: white;
}
.md-sidenav {
  width: 200px;
  padding: 0;
  z-index: 999;
  .menu {
    padding: 0;
  }
  .menu-button {
    width: 200px;
    border-bottom: 1px gainsboro solid;
    padding: 0 0 3px 0;
    h2 {
      text-transform: none;
    }
  }
  .menu-button:hover {
    background-color: #706F6F;
    h2 {
      color: white;
    }
  }
 }