<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div layout="column" ng-cloak>
    <h1 class="title">
        <span>{{vm.$$ui.title}}</span>
    </h1>
    <md-content>
        <div id="Slideshow" class="carousel slide">

            <ol class="carousel-indicators">
                <li data-target="#Slideshow" data-slide-to="0" class="active"></li>
                <li data-target="#Slideshow" data-slide-to="1"></li>
            </ol>

            <div class="carousel-inner">

                <div class="item active">
                    <img src="images/seak.jpg" alt="nature" class="img-responsive">
                </div>
                <div class="item">
                    <img src="images/seak2.jpg" alt="nature2" class="img-responsive">
                </div>

            </div>

            <a class="carousel-control left" data-target="#Slideshow" data-slide="prev">
                <span class="icon-prev"></span>
            </a>

            <a class="carousel-control right" data-target="#Slideshow" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <div class="container big-margin-top big-margin-bottom">
            <h1>Over ons</h1>
            <p>Seak is een webwinkel die hedendaagse kledij aanbiedt. Het bedrijf is is opgericht in 2015 door Lee Van Hecke en Brent Mouton.
                Dit zijn twee studenten Grafische en digitale media aan de Arteveldehogeschool. Met het bedrijf willen we comfortkleding met
                onze eigen designs op de markt brengen. </p>

            <p class="small-margin-bottom">Er is heel veel concurrentie voor kledij op de markt. Grote winkelketens zoals H&M, Zara,… zijn tegenwoordig ook online beschikbaar.
                Dit maakt hen tot de grootste concurrenten. Wij willen ons onderscheiden door uniek te zijn in het merk en onze opschriften.
                Ook met ons ECO-label willen wij naar buiten komen. Goedkope kledij heeft echter steeds de naam om onder slechte omstandigheden
                en met slechte stoffen gemaakt te zijn. Hier willen wij niets mee te maken hebben.</p>
            <div id="contact" class="big-margin-top">
                <h3>Heb je nog vragen? Neem contact met ons op!</h3>
                <a href="#/contact"><button class="button" title="Vul het contactformulier in">Contact</button></a>
            </div>
        </div>
    </md-content>
</div>