<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div layout="column" ng-cloak>
    <md-content>
        <h1 class="title">
            <span>{{vm.$$ui.title}}</span>
        </h1>
        <div class="container">
            <form>
                <label class="big-margin-top" for="naam"><h1>Contact</h1></label>
                <input class="input small-margin-bottom" type="text" id="voornaam" placeholder="Voornaam" value="{{ app.$$ui.user().voornaam }}"/>
                <input class="input small-margin-bottom" type="text" id="naam" placeholder="Naam" value="{{ app.$$ui.user().naam }}"/>
                <input class="input small-margin-bottom" type="email" id="email" placeholder="E-mailadres" value="{{ app.$$ui.user().email }}"/>
                <input class="input small-margin-bottom" type="tel" id="telefoon" placeholder="Telefoonnummer" value="{{ app.$$ui.user().telefoon }}"/>
                <input class="input small-margin-bottom" type="text" id="onderwerp" placeholder="Onderwerp"/>
                <textarea class="small-margin-bottom" type="text" id="bericht" placeholder="Bericht"></textarea>
                <button class="button small-margin-top big-margin-bottom" type="submit" title="Verzend uw bericht">Verzenden</button>
            </form>
        </div>
    </md-content>
</div>