<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div class="container">
    <h1 class="title">
        <span>{{vm.$$ui.title}}</span>
    </h1>
    <md-content ui-view flex class="row">
        <md-list class="container">
            <md-list-item class="col-xs-6 col-sm-4 col-lg-3 tegel" ng-repeat="products in vm.vrouwen">
                <a ui-sref="kledij.product.show({product_id: products.id})">
                    <img src="http://seak.local/{{products.image}}">
                    <h1>{{products.title}}</h1>
                    <h3>€{{products.price}}</h3>
                </a>
            </md-list-item>
        </md-list>
    </md-content>
</div>

