<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div class="container">
    <h1 class="title">
        <span>{{vm.product.title}}</span>
    </h1>
    <div class="row" id="detailpagina">
        <img class="col-xs-12 col-sm-8 col-md-6" id="hoofdfoto" src="http://seak.local/{{vm.product.image}}">
        <div class="col-xs-12 col-sm-4 col-md-6">
            <div class="thumbnail" style="background-image: url('http://seak.local/{{vm.product.image}}')"></div>
            <div class="thumbnail" id="info"><h1>i</h1></div>
            <div class="thumbnail"><h3>€ {{vm.product.price}}</h3></div>
        </div>
        <div id="tekst">
            <h1 class="col-xs-12 col-sm-4 col-md-6 md-title">{{vm.product.title}}</h1>
            <p class="col-xs-12 col-sm-4 col-md-6">{{vm.product.description}}</p>
        </div>
    </div>
</div>
<div id="detailfooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4 leftside">
                        <h1 class="select">
                           <select>
                               <option selected disabled>Kies een maat</option>
                               <option ng-repeat="size in vm.$$ui.sizes">{{size.sizename}}</option>
                           </select>
                        </h1>
                    </div>
                    <div class="col-xs-4 rightside">
                        <h1 class="select">
                            <select>
                                <option selected disabled>Kies aantal</option>
                                <option value="0">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                                <option value="4">5</option>
                            </select>
                        </h1>
                    </div>
                    <button type="submit" class="col-xs-2 rightside"><h1 title="In verlanglijstje"><i class="fa fa-heart-o" aria-hidden="true"></i></h1></button>
                    <button type="submit" class="col-xs-2 rightside" id="inwinkelmandje"><h1 title="In winkelmandje"><i class="fa fa-shopping-bag" aria-hidden="true"></i></h1></button>
                </div>
            </div>
        </div>
    </div>
</div>
