#slideshow, #slideshow1, #slideshow2, #slideshow3 {
  min-height: 25vh;
  overflow: hidden;
  margin-bottom: 0.4%;
  max-height: 40vh;
}
.img-responsive{
  display: block;
  min-height: 25vh;
  min-width: 100%;
  width: auto;
  height: auto;
}
.carousel-titles {
  position: absolute;
  bottom: 10px;
  z-index: 15;
  margin-left: 5%;
  padding-left: 0;
  list-style: none;

  h1 {
    text-decoration: none;
    color: white;
    font-size: 4.5rem;
  }
  h1:hover {
    font-size: 5rem;
  }
}
.carousel-titles:hover, .carousel-titles:focus {
  text-decoration: none;
  cursor: default;
}
html, body {
  margin:0;
  padding:0;
  width:100%;
  overflow-x: hidden;
}
.small-margin-top {
  margin-top: 10px;
}
.small-margin-bottom {
  margin-bottom: 10px;
}
.big-margin-top {
  margin-top: 25px;
}
.big-margin-bottom {
  margin-bottom: 25px;
}







