.tegel {
  float: left;
  display: inline-block;
  margin-bottom: 20px;
  h1 {
    text-transform: none;
    margin: 5px 0 5px 5px;
    font-weight: 400;
    color: #706F6F;;
  }
  h3 {
    margin: 5px;
    font-size: 1.6rem;
  }
  img {
    width: 100%;
  }
  a:hover {
    text-decoration: none;
  }
}
h2 .fa, button .fa{
  margin-right: 10px;
}

#detailpagina {
  padding-top: 10px;
  padding-bottom: 70px;
  .thumbnail {
    height: 75px;
    width: 75px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    float: left;
    border-radius: 0;
    margin: 0 20px 20px 0;
    h1 {
      width: 75px;
      text-align: center;
      text-transform: lowercase;
      font-family: 'IM Fell French Canon', serif;
      font-style: italic;
      font-weight: 600;
      font-size: 5rem;
      margin: 0;
    }
    h3 {
      width: 75px;
      text-align: center;
      font-size: 2.2rem;
      margin: 0;
    }
  }
  #info {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #detailpagina {
    padding-top: 0px;
    .thumbnail {
      margin: 10px 0px 10px 10px;
    }
    #info {
      display: flex;
    }
    #tekst {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
#detailfooter {
  background-color: white;
  border-top: 1px solid #4e4e4e;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 15px;
  h1 {
    margin: 0;
    padding: 10px 0;
  }
  .select {
    padding: 6px 0;
  }
  select {
    color: black;
    border: none;
    width: 100%;
    text-align-last:center;
  }
  .leftside {
    border-left: solid 1px #4e4e4e;
    border-right: solid 1px #4e4e4e;
    text-align: center;
  }
  .rightside {
    border-right: solid 1px #4e4e4e;
    text-align: center;
  }
  #inwinkelmandje {
    color: white;
    background-color: #4e4e4e;
  }
  #inwinkelmandje:hover {
    background-color: #8a8a88;
  }
  #inverlanglijst:hover {

  }
  button {
    background-color: transparent;
    border: none;
  }
  .fa {
    margin: 0;
  }
}