form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.input {
  width: 300px;
  height: 35px;
  padding: 5px;
  font-family: Oswald, sans-serif;
  font-size: 1.4rem;
  color: #757574
}
select {
  height: 35px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: solid 0.5px #cececc;
  color: #cececc;
  background-color: white;
}
textarea {
  height: 250px;
  width: 300px;
  border: solid 0.5px #cececc;
  padding: 5px;
  font-family: Oswald, sans-serif;
  font-size: 1.4rem;
  color: #757574
}