/** Mijn Account **/

.text-center {
  text-align: center;
}
h1 .fa {
  margin-right: 8px;
}
#delete {
  background-color: darkred;
}
#delete:hover {
  background-color: #af6065;
}

/** Bestellingen **/

.bestelling {
  border: solid 1px #cececc;
  padding: 8px;
  h3 {
    margin-top: 0;
    font-size: 2rem;
  }
  .subtitel{
    font-size: 1.3rem;
    margin-bottom: 2px;
  }
  .button3 {
    float: right;
  }
}
.status {
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 0;
  h3 {
    font-family: Oswald, sans-serif;
    font-size: 1.6rem;
    color: white;
    padding: 4px 0;
    margin-bottom: 0px;
  }
}
.status1 {
  background-color: rgb(216, 165, 73);
}
.status2 {
  background-color: rgb(116, 158, 232);
}
.status3 {
  background-color: rgb(119, 188, 96);
}
.status4 {
  background-color: rgb(188, 50, 70);
}

/** Persoonlijk en Toegangsgegevens **/