.shopitem {
  margin-top: 10px;
  h1 {
    margin-top: 5px;
  }
  h3 {
    margin-top: 10px;
  }
  button {
    float: right;
  }
  img {
    margin-bottom: 10px;
  }
  a:hover {
    .rightside {
      background-color: #ebebe9;
    }
  }
  .leftside {
    border: solid 1px #cececc;
    text-align: center;
  }
  .rightside {
    border-right: solid 1px #cececc;
    border-top: solid 1px #cececc;
    border-bottom: solid 1px #cececc;
    text-align: center;
  }
}
#kostenbereking {
  position:absolute;
  bottom:0;
  width: 100%;
  height:140px;
  h3 {
    float: right;
  }
  h1 {
    color: darkred;
    margin-top: 0;
  }
  #som {
    text-align: right;
  }
}
#shopitems {
  padding-bottom: 160px;
}
#winkelmandje {
  min-height: calc(100vh - 74px);
  position:relative;
}
#checkout {
  min-height: calc(100vh - 74px);
  position:relative;
  .float-left {
    float: left;
    text-align: left;
  }
  .float-right {
    float: right;
    text-align: right;
  }
  #betaalwijze {
    .cc-selector input{
      margin:0;padding:0;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      display: none;
    }
    .visa{background-image:url(http://i.imgur.com/lXzJ1eB.png);}
    .mastercard{background-image:url(http://i.imgur.com/SJbRQF7.png);}
    .paypal{background-image: url(https://cdn4.iconfinder.com/data/icons/payment-methods-8/87/paypal_credit-512.png)}

    .cc-selector input:active +.drinkcard-cc{opacity: .9;}
    .cc-selector input:checked +.drinkcard-cc{
      -webkit-filter: none;
      -moz-filter: none;
      filter: none;
    }
    .drinkcard-cc{
      cursor:pointer;
      background-size:contain;
      background-repeat:no-repeat;
      display:inline-block;
      width:95px;height:67px;
      -webkit-transition: all 100ms ease-in;
      -moz-transition: all 100ms ease-in;
      transition: all 100ms ease-in;
      -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
      -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
      filter: brightness(1.8) grayscale(1) opacity(.7);
      border-radius: 5px;
    }
    .drinkcard-cc:hover{
      -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
      -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
      filter: brightness(1.2) grayscale(.5) opacity(.9);
    }

    /* Extras */
    a:visited{color:#888}
    a{color:#444;text-decoration:none;}
    p{margin-bottom:.3em;}
  }
}