// Typography
body {
  font-family: Arial, sans-serif;
  font-size: 1.4em;
}
.small-text {
  font-size: 0.8em;
  color: #4e4e4e;
}
h1, h2, h3, h4 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.7rem;
  color: #706F6F
}

h3 {
  font-size: 1.7rem;
  color: #706F6F;
  font-weight: 300;
}
.md-fab {
  .md-icon.fa {
    font-size: 1.4rem;
  }
}