<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<!DOCTYPE html>
<html lang="nl" ng-app="app">
<head>
    <title>Seak</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/angular.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="AppCtrl as app" ng-cloak>

<div class="nav">
    <div class="md-toolbar-tools container">
        <div ng-click="toggleLeft()" class="md-primary">
            <i class="fa fa-bars fa-lg toggle-left" aria-hidden="true"></i>
        </div>
        <h1 class="titlespace">
            <!--&lt;!&ndash;<img src="/images/logo.png" height="35px"/>&ndash;&gt;-->
            <!--<span>{{app.$$ui.title}}</span>-->
        </h1>
        <div ng-click="toggleRight()" class="md-primary toggle-right">
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
        </div>
    </div>
</div>
<section flex>
    <md-sidenav class="md-sidenav md-sidenav-left" md-is-open="isLeftSidenavOpen" md-component-id="left">
        <md-content ng-controller="LeftCtrl">
            <md-list class="menu">
                <!-- Example with UI Router State Reference -->
                <md-list-item ng-repeat="menuItem in app.$$ui.menuapp" class="menu-button">
                    <md-menu-item flex="100" >
                        <md-button class="md-primary" ng-click="close()" ui-sref="{{menuItem.state}}"><h2>{{menuItem.label}}</h2></md-button>
                    </md-menu-item>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <main id="app-main" ui-view style="margin-top: 56px"></main>
    <md-sidenav class="md-sidenav md-sidenav-right" md-is-open="isRightSidenavOpen" md-component-id="right">
        <md-content ng-controller="RightCtrl">
            <md-list class="menu">
                <!-- Example with UI Router State Reference -->
                <md-list-item ng-repeat="menuItem in app.$$ui.menuuser" class="menu-button">
                    <md-menu-item flex="100">
                        <md-button class="md-primary" ng-click="close()" ui-sref="{{menuItem.state}}"><h2>{{menuItem.label}}</h2></md-button>
                    </md-menu-item>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/faker/faker.min.js"></script>
<script src="vendor/lodash/lodash.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>