<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div layout="column" ng-cloak>
    <md-content>
        <h1 class="title">
            <span>{{vm.$$ui.title}}</span>
        </h1>
        <div id="Slideshow" class="carousel slide">

            <ol class="carousel-indicators">
                <li data-target="#Slideshow" data-slide-to="0" class="active"></li>
                <li data-target="#Slideshow" data-slide-to="1"></li>
            </ol>

            <div class="carousel-inner">

                <div class="item active">
                    <img src="images/nature.jpg" alt="nature" class="img-responsive">
                </div>
                <div class="item">
                    <img src="images/nature2.jpg" alt="nature2" class="img-responsive">
                </div>

            </div>

            <a class="carousel-control left" data-target="#Slideshow" data-slide="prev">
                <span class="icon-prev"></span>
            </a>

            <a class="carousel-control right" data-target="#Slideshow" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <div class="container big-margin-top big-margin-bottom">
            <h1>ecologie</h1>
            <p>Onze kledij willen we het ecologische aspect zeker niet uit het oog verliezen. Onze
                kledij wordt dan ook gemaakt met hoogwaardige materialen die op een eerlijke en
                milieuvriendelijke manier geproduceerd zijn.</p>

            <p>Naast de goede stoffen die we gebruiken, willen we ook dat ze op een eerlijke manier worden verwerkt. Onze kledij wordt dan ook op een goede en mensvriendelijke manier geproduceerd.</p>
        </div>
    </md-content>
</div>