<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div class="container">
    <h1 class="title">
        <span>{{vm.$$ui.title}}</span>
    </h1>
    <md-content>
        <div id="winkelmandje">
            <div id="shopitems">
                <div class="shopitem container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <img src="../../images/T-shirt1.png" class="col-xs-3 col-sm-2">
                                <div class="col-xs-9 col-sm-10">
                                    <h1>T-shirt Grijs Seak Original</h1>
                                    <h3>€19,95</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-5 leftside"><h3>Aantal: 1</h3></div>
                            <div class="col-xs-5 rightside"><h3>Maat: M</h3></div>
                            <a><div class="col-xs-2 rightside" title="Verwijder dit item uit uw winkelmandje"><h3><i class="fa fa-trash-o" aria-hidden="true"></i></h3></div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="kostenbereking">
                <form>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>1 stuk</h3>
                        </div>
                        <h1 class="col-xs-6">Totaal:</h1>
                        <h1 class="col-xs-6" id="som">€19,95</h1>
                    </div>
                    <a href="#/winkelmandje/checkout" class="big-margin-bottom"><button class="button big-margin-bottom" type="submit" ng-disabled="vm.cart().items.length == 0" ng-click="vm.checkout()" title="Bestel deze artikelen">Bestellen</button></a>
                </form>
            </div>
        </div>
    </md-content>
</div>
