<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div class="container">
    <h1 class="title">
        <span>{{vm.$$ui.title}}</span>
    </h1>
    <md-content>
        <form id="checkout">
            <h2>U bent aangemeld als {{ app.$$ui.user().voornaam }} {{ app.$$ui.user().naam }}</h2>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="float-left">Je aankopen</h1>
                    <h1 class="float-right">€49,97</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="float-left">Verzenden naar:</h1>
                    <h1 class="float-right">+ €5,00 </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ app.$$ui.user().voornaam }} {{ app.$$ui.user().naam }}</p>
                    <p>{{ app.$$ui.user().adres }}</p>
                    <p>{{ app.$$ui.user().postcode }} {{ app.$$ui.user().stad }}</p>
                    <p>BELGIUM</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="float-left">Promotiecode</h1>
                    <h1 class="float-right" hidden>- €5,00 </h1>
                    <input class="input" type="text" id="promotiecode" placeholder="Promotiecode"/>
                    <button class="button2 small-margin-top big-margin-bottom" type="submit" title="Valideer uw promotiecode">Valideren</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="float-left">Kies een betaalwijze</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" id="betaalwijze">
                    <div class="cc-selector">
                        <input id="visa" type="radio" name="credit-card" value="visa" />
                        <label class="drinkcard-cc visa" for="visa"></label>
                        <input id="mastercard" type="radio" name="credit-card" value="mastercard" />
                        <label class="drinkcard-cc mastercard"for="mastercard"></label>
                        <input id="paypal" type="radio" name="credit-card" value="paypal" />
                        <label class="drinkcard-cc paypal"for="paypal"></label>
                    </div>
                </div>
            </div>
            <div>
                <form>
                    <div class="row">
                        <h1 class="col-xs-6">Totaal:</h1>
                        <h1 class="col-xs-6 float-right" id="som">€54,97</h1>
                    </div>
                    <a href="#/winkelmandje/bedankt" class="big-margin-bottom"><button class="button big-margin-bottom" type="submit" title="Bestel deze artikelen">Bestellen</button></a>
                </form>
            </div>
        </form>
    </md-content>
</div>