<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->

<h1 class="title">
    <span>{{vm.$$ui.title}}</span>
</h1>
<md-content>
    <form class="big-margin-top">
        <h1 class="big-margin-top">Bedankt {{ app.$$ui.user().voornaam }} voor uw bestelling!</h1>
        <div class="row">
            <div class="col-xs-12">
                <a href="#/mijn-account/bestellingen"><button class="button2 big-margin-top " title="Volg je bestelling">Volg je bestelling</button></a>
                <a href="#/home"><button class="button2 small-margin-top big-margin-bottom" title="Terug naar de homepagina">Home</button></a>
            </div>
        </div>
    </form>
</md-content>