.button {
  border: none;
  margin: 0;
  border-radius: 0px;
  background-color: rgb(93,92,92);
  float: left;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  color: white;
  padding: 5px 10px 5px 10px;
  min-width: 300px;
  a {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    color: white;
    padding: 2px 10px 0px 10px;
  }
}
.button:hover {
   background-color: #8b8b8a;
   a {
     color: white;
     text-decoration: none;
   }
 }
.button2 {
  border: none;
  margin: 0;
  border-radius: 0px;
  background-color: rgb(157,157,157);
  float: left;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  color: white;
  padding: 5px 10px 5px 10px;
  min-width: 300px;
  a {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    color: white;
    padding: 2px 10px 0px 10px;
  }
}
.button2:hover {
  background-color: #cececc;
  a {
    color: white;
    text-decoration: none;
  }
}
.button3 {
  border: 1.3px solid rgb(139,139,138);
  border-radius: 0px;
  background-color: transparent;
  color: rgb(139,139,138);
  font-family: Oswald, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 90px;
  text-align: center;
  margin-top: 4px;
}
.button3:hover {
  background-color: rgb(222, 222, 220);
}
.button4 {
  border: none;
  border-radius: 0px;
  background-color: #cececc;
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 120px;
  text-align: center;
  margin-top: 4px;
}
.button4:hover {
  background-color: rgb(139,139,138);
}
.carousel-indicators li{
  background-color: rgba(254,254,254,0.4);
  border: 0px;
}
.carousel-indicators li .active{
  background-color: rgb(254,254,254);
  border: 0px;
}
.carousel-control .icon-prev:before {
  content: '\2329';
}
.carousel-control .icon-next:before {
  content: '\232A';
}