<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div class="container">
    <h1 class="title">
        <span>{{vm.$$ui.title}}</span>
    </h1>
    <form name="loginForm">
        <label class="big-margin-top" for="email"><h1>E-mail</h1></label>
        <input class="input" type="email" name="email" id="email" ng-model="vm.inloggen.email" placeholder="E-mailadres" required/>
        <label for="password"><h1>Wachtwoord</h1></label>
        <input class="input" type="password" name="password" id="password" ng-model="vm.inloggen.password" placeholder="Wachtwoord" required/>
        <button class="button big-margin-top big-margin-bottom" type="submit" ng-click="vm.inloggen.submit()">Inloggen</button>
        <h3>Of maak een account aan</h3>
        <a ui-sref="login.registreren" class="big-margin-bottom"><button class="button2 big-margin-bottom" ng-href="login.registreren">Registreren</button></a>
    </form>
</div>
