<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div class="container">
    <h1 class="title">
        <span>Uitloggen</span>
    </h1>
    <form name="logoutform" class="big-margin-top">
        <p>Bent u zeker dat u wil uitloggen?</p>
        <button class="button small-margin-top big-margin-bottom" type="submit" title="Klik om uit te loggen" ng-click="vm.uitloggen.submit()">Uitloggen</button>
    </form>
</div>