<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div class="container">
    <h1 class="title">
        <span>{{vm.$$ui.title}}</span>
    </h1>
    <form name="registerform">
        <label class="big-margin-top" for="email"><h1 >Account aanmaken</h1></label>
        <p class="small-text">Door een account aan te maken kunt u sneller afrekenen, uw verlanglijst op elk apparaat bekijken en uw winkelmandje op te slaan.</p>

        <input class="input small-margin-bottom" type="text" id="email" name="email" placeholder="E-mailadres" ng-model="vm.registreren.email" required/>
        <input class="input small-margin-bottom" type="text" id="emailherhalen" name="emailherhalen" placeholder="E-mailadres herhalen" required/>
        <input class="input small-margin-bottom" type="password" id="password" name="password" placeholder="Wachtwoord" ng-model="vm.registreren.password" required/>
        <input class="input small-margin-bottom" type="password" id="passwordherhalen" name="passwordherhalen" placeholder="Wachtwoord herhalen" required/>
        <label for="naam"><h1>Voer je gegevens in</h1></label>
        <input class="input small-margin-bottom" type="text" id="voornaam" name="voornaam" placeholder="Voornaam" ng-model="vm.registreren.voornaam" required/>
        <input class="input small-margin-bottom" type="text" id="naam" name="naam" placeholder="Naam" ng-model="vm.registreren.naam" required/>
        <input class="input small-margin-bottom" type="text" id="adres" name="adres" placeholder="Adres" ng-model="vm.registreren.adres"required/>
        <input class="input small-margin-bottom" type="text" id="postcode" name="postcode" placeholder="Postcode" ng-model="vm.registreren.postcode" required/>
        <input class="input small-margin-bottom" type="text" id="stad" name="stad" placeholder="Stad" ng-model="vm.registreren.stad" required/>
        <p class="small-text">*Momenteel verzenden we enkel binnen België.</p>
        <button class="button small-margin-top big-margin-bottom" type="submit" title="Klik om een account aan te maken" ng-click="vm.registreren.submit()">Registreren</button>
        <h3>Reeds een account?</h3>
        <a ui-sref="login.inloggen" class="big-margin-bottom"><button class="button2 big-margin-bottom" ng-href="login.registreren">Inloggen</button></a>
    </form>
</div>