<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div layout="column" ng-cloak>
    <md-content>
        <div class="title">
            <img src="/images/logo.png" height="35px"/>
        </div>
        <div id="slideshow" class="carousel slide md-primary">
            <ol class="carousel-indicators">
                <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                <li data-target="#slideshow" data-slide-to="1"></li>
            </ol>
            <a href="#/kledij/mannen" class="carousel-titles"><h1>Mannen</h1></a>
            <div class="carousel-inner">

                <div class="item active">
                    <img src="images/man2.jpg" alt="new" class="img-responsive">
                </div>
                <div class="item">
                    <img src="images/man.jpg" alt="new2" class="img-responsive">
                </div>
            </div>

            <a class="carousel-control left" data-target="#slideshow" data-slide="prev">
                <span class="icon-prev"></span>
            </a>

            <a class="carousel-control right" data-target="#slideshow" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <div id="slideshow1" class="carousel slide md-primary">
            <ol class="carousel-indicators">
                <li data-target="#slideshow1" data-slide-to="0" class="active"></li>
                <li data-target="#slideshow1" data-slide-to="1"></li>
            </ol>
            <a href="#/kledij/vrouwen" class="carousel-titles"><h1>Vrouwen</h1></a>
            <div class="carousel-inner">

                <div class="item active">
                    <img src="images/woman2.jpg" alt="woman" class="img-responsive">
                </div>
                <div class="item">
                    <img src="images/woman.jpg" alt="woman2" class="img-responsive">
                </div>
            </div>

            <a class="carousel-control left" data-target="#slideshow1" data-slide="prev">
                <span class="icon-prev"></span>
            </a>

            <a class="carousel-control right" data-target="#slideshow1" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <div id="slideshow2" class="carousel slide">

            <ol class="carousel-indicators">
                <li data-target="#slideshow2" data-slide-to="0" class="active"></li>
                <li data-target="#slideshow2" data-slide-to="1"></li>
            </ol>
            <a href="#/over-ons" class="carousel-titles"><h1>#Seak</h1></a>
            <div class="carousel-inner">

                <div class="item active">
                    <img src="images/seak.jpg" alt="seak" class="img-responsive">
                </div>
                <div class="item">
                    <img src="images/seak2.jpg" alt="seak2" class="img-responsive">
                </div>

            </div>

            <a class="carousel-control left" data-target="#slideshow2" data-slide="prev">
                <span class="icon-prev"></span>
            </a>

            <a class="carousel-control right" data-target="#slideshow2" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <div id="slideshow3" class="carousel slide">

            <ol class="carousel-indicators">
                <li data-target="#slideshow3" data-slide-to="0" class="active"></li>
                <li data-target="#slideshow3" data-slide-to="1"></li>
            </ol>
            <a href="#/ecologie" class="carousel-titles"><h1>Ecologie</h1></a>
            <div class="carousel-inner">

                <div class="item active">
                    <img src="images/nature.jpg" alt="nature" class="img-responsive">
                </div>
                <div class="item">
                    <img src="images/nature2.jpg" alt="nature2" class="img-responsive">
                </div>

            </div>

            <a class="carousel-control left" data-target="#slideshow3" data-slide="prev">
                <span class="icon-prev"></span>
            </a>

            <a class="carousel-control right" data-target="#slideshow3" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
    </md-content>
</div>