<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div layout="column" ng-cloak>
    <md-content ui-view flex class="row">

    </md-content>
</div>