<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<div class="container">
    <h1 class="title">
        <span>Account verwijderen</span>
    </h1>
    <form name="deleteform" class="big-margin-top">
        <p>Bent u zeker dat u uw account wilt verwijderen?</p>
        <button class="button small-margin-top big-margin-bottom" id="delete" type="submit" title="Klik om uw account te verwijderen" ng-click="vm.delete.submit()">Account verwijderen</button>
    </form>
</div>