<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->

<h1 class="title">
    <span>{{vm.$$ui.title}}</span>
</h1>
<md-content>
    <div class="container">
        <form>
            <label class="big-margin-top" for="huidigemailadres"><h1>E-mailadres wijzigen</h1></label>
            <input class="input small-margin-bottom" type="text" id="huidigemailadres" placeholder="Huidig e-mailadres" />
            <input class="input small-margin-bottom" type="text" id="nieuwemailadres" placeholder="Nieuw e-mailadres" />
            <button class="button small-margin-top small-margin-bottom" type="submit" title="Klik om uw e-mailadres te veranderen">E-mailadres wijzigen</button>
            <label for="huidigwachtwoord"><h1>Wachtwoord wijzigen</h1></label>
            <input class="input small-margin-bottom" type="text" id="huidigwachtwoord" placeholder="Huidig wachtwoord" />
            <input class="input small-margin-bottom" type="text" id="nieuwwachtwoord" placeholder="Nieuw wachtwoord" />
            <input class="input small-margin-bottom" type="text" id="wachtwoordherhalen" placeholder="Nieuw wachtwoord herhalen" />
            <button class="button small-margin-top big-margin-bottom" type="submit" title="Klik om het wachtwoord te veranderen">Wachtwoord wijzigen</button>
        </form>
    </div>
</md-content>
