<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<h1 class="title">
    <span>{{vm.$$ui.title}}</span>
</h1>
    <div class="container big-margin-top big-margin-bottom">
        <div class="row big-margin-top">
            <div class="col-xs-12">
                <div class="row">
                    <h3 class="col-sm-4 col-sm-push-4 col-sm-pull-4 text-center">Welkom {{ app.$$ui.user().voornaam }} {{ app.$$ui.user().naam }}!</h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 big-margin-top">
                <form style="height: 220px">
                    <h1 class="big-margin-bottom"><i class="fa fa-unlock-alt" aria-hidden="true"></i>  Toegangsgegevens</h1>
                    <p class="big-margin-top">E-mailadres: {{ app.$$ui.user().email }}</p>
                    <p>Wachtwoord: &#8226&#8226&#8226&#8226&#8226&#8226&#8226&#8226</p>
                    <p class="big-margin-top">Wilt u uw wachtwoord of e-mailadres wijzigen?</p>
                    <a href="#/mijn-account/toegang" class="big-margin-bottom text-center"><button class="button2 small-margin-top" title="Wijzig uw wachtwoord en e-mailadres">Toegangsgegevens wijzigen</button></a>
                </form>
            </div>
            <div class="col-xs-12 col-sm-6 big-margin-top">
                <form style="height: 220px">
                    <h1 class="big-margin-bottom"><i class="fa fa-user" aria-hidden="true"></i>  Persoonlijke gegevens</h1>
                    <p class="big-margin-top">{{ app.$$ui.user().voornaam }} {{ app.$$ui.user().naam }}</p>
                    <p>{{ app.$$ui.user().adres }}</p>
                    <p>{{ app.$$ui.user().postcode }}{{ app.$$ui.user().stad }}</p>
                    <p class="big-margin-top">Wilt u uw persoonsgegevens wijzigen?</p>
                    <a href="#/mijn-account/persoonlijk" class="big-margin-bottom text-center"><button class="button2 small-margin-top" title="Wijzig uw persoons- en adresgegevens">Persoonsgegevens wijzigen</button></a>
                </form>
            </div>
            <div class="col-xs-12 col-sm-6 big-margin-top">
                <form style="height: 100px">
                    <h1 class="big-margin-bottom"><i class="fa fa-heart" aria-hidden="true"></i>  Verlanglijstje</h1>
                    <p class="big-margin-top">Bekijk uw verlanglijstje!</p>
                    <a href="#/mijn-account/verlanglijst" class="big-margin-bottom text-center"><button class="button2 small-margin-top" title="Bekijk uw verlanglijst">Verlanglijst</button></a>
                </form>
            </div>
            <div class="col-xs-12 col-sm-6 big-margin-top">
                <form style="height: 100px">
                    <h1 class="big-margin-bottom"><i class="fa fa-truck" aria-hidden="true"></i>  Bestellingen</h1>
                    <p class="big-margin-top">Bekijk en volg uw bestellingen.</p>
                    <a href="#/mijn-account/bestellingen" class="big-margin-bottom text-center"><button class="button2 small-margin-top" title="Bekijk uw geplaatste bestellingen">Bestellingen</button></a>
                </form>
            </div>
            <div class="col-xs-12 big-margin-top big-margin">
                <form>
                    <a href="#/mijn-account/delete" class="big-margin-bottom text-center"><button class="button2 big margin-bottom" id="delete" title="Account Verwijderen">Account verwijderen</button></a>                    </form>
            </div>
        </div>
    </div>