<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<h1 class="title">
    <span>{{vm.$$ui.title}}</span>
</h1>
<md-content>
    <div class="container">
        <form>
            <label class="big-margin-top" for="naam"><h1 >Persoonsgegevens wijzigen</h1></label>
            <p class="small-text">Wijzig hier uw gegevens voor uw SEAK-account zodat toekomstige bestellingen correct verlopen.</p>
            <input class="input small-margin-bottom" type="text" id="voornaam" placeholder="Voornaam" value="{{ app.$$ui.user().voornaam }}"/>
            <input class="input small-margin-bottom" type="text" id="naam" placeholder="Naam" value="{{ app.$$ui.user().naam }}"/>
            <input class="input small-margin-bottom" type="text" id="adres" placeholder="Adres" value="{{ app.$$ui.user().adres }}"/>
            <input class="input small-margin-bottom" type="text" id="postcode" placeholder="Postcode" value="{{ app.$$ui.user().postcode }}"/>
            <input class="input small-margin-bottom" type="text" id="stad" placeholder="Stad" value="{{ app.$$ui.user().stad }}"/>
            <button class="button small-margin-top big-margin-bottom" type="submit" title="Klik om wijzigingen op te slaan">Wijzigen</button>
        </form>
    </div>
</md-content>