<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->
<md-content class="container">
    <h1 class="title">
        <span>{{vm.$$ui.title}}</span>
    </h1>
    <div class="container">
        <div class="col-xs-12 bestelling small-margin-top">
            <h3>29/05/2016 - 23:43</h3>
            <div class="row item">
                <div class="col-xs-6">
                    <h3 class="subtitel">1 item - n°8202</h3>
                    <h3 class="subtitel">€24,45</h3>
                    <div class="status status1"><h3>Verwerking</h3></div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="button3" title="Klik om de bestelling te annuleren">Annuleren</button>
                        </div>
                        <div class="col-xs-12">
                            <button class="button3" title="Klik om de bestelling in detail te bekijken">Bekijken</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 bestelling small-margin-top">
            <h3>29/05/2016 - 23:43</h3>
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="subtitel">1 item - n°8202</h3>
                    <h3 class="subtitel">€24,45</h3>
                    <div class="status status2"><h3>Verzonden</h3></div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="button3" title="Klik om de bestelling te annuleren">Annuleren</button>
                        </div>
                        <div class="col-xs-12">
                            <button class="button3" title="Klik om de bestelling in detail te bekijken">Bekijken</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-12 bestelling small-margin-top">
            <h3>29/05/2016 - 23:43</h3>
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="subtitel">1 item - n°8202</h3>
                    <h3 class="subtitel">€24,45</h3>
                    <div class="status status3"><h3>Afgeleverd</h3></div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="button3" title="Klik om de bestelling te annuleren">Annuleren</button>
                        </div>
                        <div class="col-xs-12">
                            <button class="button3" title="Klik om de bestelling in detail te bekijken">Bekijken</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</md-content>