<!--
@author    Senne Vanfleteren and Lee Van Hecke (based on code by Olivier Parent)
@copyright Copyright © 2015-2016 Artevelde University College Ghent
@license   Apache License, Version 2.0
-->

<h1 class="title">
    <span>{{vm.$$ui.title}}</span>
</h1>
<md-content>
    <div class="shopitem container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <img src="../../images/T-shirt1.png" class="col-xs-3 col-sm-2">
                    <div class="col-xs-9 col-sm-10">
                        <h1>T-shirt Grijs Seak Original</h1>
                        <h3>€19,95</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4 col-sm-5 leftside"><h3>Aantal: 1</h3></div>
                <div class="col-xs-4 col-sm-5 rightside"><h3>Maat: M</h3></div>
                <a><div class="col-xs-2 col-sm-1 rightside" title="Verplaats dit item naar uw winkelmandje"><h3><i class="fa fa-shopping-bag" aria-hidden="true"></i></i></h3></div></a>
                <a><div class="col-xs-2 col-sm-1 rightside" title="Verwijder dit item uit uw verlanglijst"><h3><i class="fa fa-trash-o" aria-hidden="true"></i></h3></div></a>
            </div>
        </div>
    </div>
</md-content>